html,body {
  height:100%;
  width:100%;
  margin:0;
}

body {
  display:flex;
}

div {
  margin: auto;
  margin-bottom: 30%;
  text-align: center;
}

.loader {
  display: inline-block;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #555;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  margin-bottom: 5%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}