[submodule "MultiCraft"]
	path = MultiCraft
	url = https://github.com/BonnieToGamer/MultiCraft.git
[submodule "threejs-webpack-typescript-starter"]
	path = threejs-webpack-typescript-starter
	url = https://github.com/BonnieToGamer/threejs-webpack-typescript-starter
[submodule "typescript-webpack-starter"]
	path = typescript-webpack-starter
	url = https://github.com/BonnieToGamer/typescript-webpack-starter
