* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --nav-item-border: black;
}

.cover {
  width: auto;
  height: 100vh;
}

div.cover {
  background-image: url(images/phone1.jpg);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45vh);
  color: white;
  font-size: 500%;
  font-family: 'Raleway', sans-serif;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(68, 68, 68);
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-item {
  float: left;
}

.nav-item:last-child {
  float: right;
  border-right: none;
  border-left: 1px var(--nav-item-border) solid;
}

.nav-item a {
  display: block;
  color: rgb(216, 216, 216);
  background-color: transparents;
  text-align: center;
  padding: 10pt 50pt;
  text-decoration: none;
  border-right: 1px var(--nav-item-border) solid;
}

.nav-item a:hover {
  background-color: rgb(138, 138, 138);
}

.gallery {
  margin: 0 30pt;
  margin-top: 50pt;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 15pt;
}

.gallery-img {
  max-width: 100%;
  max-height: 95%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-item--1 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}

.gallery-item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 10;
}

.gallery-item--3 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}

.gallery-btn {
  width: 5ch;
  height: 5vh;
  place-self: center;
}

.gallery-btn-left {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.gallery-btn-right {
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;
}

@media only screen and (min-width: 768px) {
  .gallery-btn {
    place-self: inherit;
  }

  .gallery-btn-left {
    justify-self: end;
  }

  .gallery-btn-right {
    justify-self: start;
  }
}