* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cover {
  width: 100%;
  height: 100vh;
}

div.cover {
  background-image: url(images/phone1.jpg);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -225%);
  color: white;

  font-size: 300%;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 960px) {
  .centered {
    font-size: 500%;
    transform: translate(-50%, -300%);
  }
}

@media only screen and (orientaion: landscape) and (min-width: 600px) {
  .centered {
    transform: translate(-50%, -275%);
  }
}