* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cover {
  width: auto;
  height: 100vh;
}

div.cover {
  background-image: url(images/phone1.jpg);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  color: white;

  font-size: 500%;
  font-family: 'Raleway', sans-serif;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  display: block;
  background-color: black;
}

.nav-item {
  float: left;
}

.nav-item:last-child {
  float: right;
}

.nav-url {
  display: block;
  background-color: #ddd;
  text-decoration: none;
  border: 1px solid #333;
}

.nav-url:visited {
  color: black;
}